/* Color Scheme */
$primary-color: #F5631A; // #4235d0;
$secondary-color: #D41E00; // #f969cd;
$white: #fff;
$dark: #481D01;
$gray: #13262F;
$light-gray: #B1B1B1;
$blue-gray: #444444;

$background-color: $white;
$background-color-alt: $white;

$text-color: $dark;
$text-color-alt: $blue-gray;

$heading-font-color: $text-color;

$link-color: $primary-color;
$link-color-hover: $secondary-color;

$button-color: $background-color-alt;
$button-background-color: $primary-color;
$button-background-hover: darken($primary-color, 5%);

$border-color: #ededf3;

$hr-color: $text-color;
$tr-color: #f0f0f0;

$syntax-highlighting-background: #f3f3f3;