.lead-header { 

  .left-side {
    background: $p-200;

  }

  .right-side {

    form {
      background: $p-400;

      h4 {
        color: $p-100;
      }

      .form-group {
        
        label {
          color: $r-200;
        }
      }
    }

  }
}