.get-started {
	form {
		input {
      color: $p-800;
      outline: 2px solid $p-300;

      &:focus {
      	box-shadow: 0 0 30px 0 rgba($white,0.5);
      }
		}

		button {
			background: $p-400;
			border: 1px solid $p-800;
			box-shadow: 0 0 30px 0 rgba($white,0.5);

			&:hover {
				background: $p-300;
			}
		}
	}

	&::before {
		background: rgba($p-200,0.3);
		box-shadow: none;
	}
}