.main-navigation {
  background-image: linear-gradient(180deg, $p-800, $p-600);

    ul.main-menu {

    li.main-menu-link {

      a {
        color: $p-800;
        background: $p-100;
        outline: 1px solid $white;
        outline-color: rgba($white, .5);

        &:hover {
          box-shadow: inset 0 0 20px rgba($black, .7), 0 0 20px rgba($black, .5);
          outline-color: rgba($white, 0);
          text-shadow: 1px 1px 5px $p-100; 
         }

        &.logo {
          background: none;
          outline: none;
          box-shadow: none;
        }
      }
    }
  }
}
