.portfolio {
	.card-section {
		.card {
			background: rgba($g-800, 0.85);
			box-shadow: 0 0 10px 1px rgba($white, 0.6);

			h3 {
				&::before {
					color: $p-200;
				}
			}

			.learn-more {
				.visit {
					&:hover {
						box-shadow: 0 0 10px 1px rgba($white, 0.6);
					}
				}

				.learn {					
					&:hover {
						box-shadow: 0 0 10px 1px rgba($white, 0.6);
					}
				}
			}
		}
	}
}