<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}

  <body>

    {{ if .Site.Params.global.image.enable }}
      <div class="top-cover">
        <div class="cover-image">
          {{ $img := (resources.Get site.Params.global.image.cover__image).Resize "1200x webp q75" }}
          <img class="lazy" data-src="{{ $img.RelPermalink }}" alt="{{.Site.Params.title}}">
          
        </div>
      </div>
    {{ end }}

    {{ partial "header.html" . }}

    <!-- begin content -->
    <main class="content animate" aria-label="Content">
      {{ block "main" . }}{{ end }}
    </main>
    <!-- end content -->

    {{ partial "contact-form.html" . }}

    {{ partial "section-subscribe.html" . }}

    <div class="top" title="Top"><i class="fa-regular fa-fw fa-arrow-up"></i></div>

    {{ partial "footer.html" . }}

    {{ partial "javascripts.html" . }}

  </body>

</html>