// { Colors File }
// { Basics }
$black: #000;
$white: #fff;
$blue: #1181c5;
$purple: #4b548b;
$gray: #7a7a7a;

// { Color Breakdowns }
  // { Blue }
  $b-100: #ecf7fd;
  $b-200: #c7e6fa;
  $b-300: #a1d6f7;
  $b-400: #56b5f0;
  $b-500: $blue;
  $b-600: #0f6ea9;
  $b-700: #0d6296;
  $b-800: #0a4971;
  $b-900: #031826;

  // { Purple }
  $p-100: #cacde2;
  $p-200: #9fa5c8;
  $p-300: #888fbf;
  $p-400: #6d76b0;
  $p-500: $purple;
  $p-600: #404877;
  $p-700: #323b60;
  $p-800: #22263e;
  $p-900: #151828;

  // { Gray }
  $g-100: #f1f1f1;
  $g-200: #d6d6d6;
  $g-300: #c2c2c2;
  $g-400: #999999;
  $g-500: $gray;
  $g-600: #666666;
  $g-700: #474747;
  $g-800: #292929;
  $g-900: #141414;