// { Colors File }
// { Basics }
$black: #07080D;
$white: #F4F4F4;
$gray: #606375;
$purple: #22263E;
$red: #C74639;

// { Color Breakdowns }
  // { Purple }
  $p-100: #7B84B7;
  $p-200: #6E78AF;
  $p-300: #505991;
  $p-400: #3A4169;
  $p-500: $purple;
  $p-600: #1D2135;
  $p-700: #161927;
  $p-800: $black;

  // { Gray }
  $g-100: #BCBEC8;
  $g-200: #A5A8B6;
  $g-300: #8F92A3;
  $g-400: #787C91;
  $g-500: $gray;
  $g-600: #535565;
  $g-700: #40424F;
  $g-800: #2E2F38;
  $g-900: #1C1C22;

  // { Red }
  $r-100: #EDC3BF;
  $r-200: #E4A5A0;
  $r-300: #DB8780;
  $r-400: #D26960;
  $r-500: $red;
  $r-600: #AF3C31;
  $r-700: #8F3128;
  $r-800: #6F261F;
  $r-900: #501B16;