.lead-header {
  width: clamp(65%, 980px, 90%);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 50vh;
  position: relative;

  @media only screen and (min-width: 40em) {
    flex-direction: row;
  }

  .left-side {
    min-width: 40%;

    margin: 0 1em;
    padding: 1em;
  }

  .right-side {
    min-width: 40%;

    margin: 0 1em;
    padding: 1em;

    border-radius: 40% 60% 89% 11% / 48% 67% 33% 52%;
    background-image: linear-gradient(22deg, $r-800, $r-400);

    animation: 
			transform 20s ease-in-out infinite both alternate,
			movement_three 40s ease-in-out infinite both;

    .lead-form {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      background: $g-100;
      padding: 1em;
      border-radius: 1em;
      box-shadow: 0 0 5px 1px rgba($black, 0.5);
      width: 75%;
      margin: 0 auto;

      input, textarea {
        margin: 1em 0;

        padding: 0.5rem 1rem;

        border-radius: 1em;
        border: 1px solid $p-800;

        color: $p-500;

        font-family: $heading;
        font-size: 1.12em;

        box-shadow: 0 0 5px 1px rgba($black, 0.5);
      }

    }
  }
}

.shape-blob {
	background: $r-500;
	height: 200px;
	width: 200px;
	border-radius: 30% 50% 20% 40%;
  	animation: 
		transform 20s ease-in-out infinite both alternate,
		movement_one 40s ease-in-out infinite both;
	opacity:.7;
	position: absolute;
	left: 70%;
	top: 50%;
	z-index: -1;
}
.shape-blob.one{
	height: 500px;
	width: 500px;
	left: -200px;
	top: -150px;
	transform: rotate(-180deg);
	animation: transform 30s ease-in-out infinite both alternate, movement_two 60s ease-in-out infinite both;
}

.shape-blob.two{
	height: 350px;
	width: 350px;
	left: 500px;
	top: -150px;
	transform: rotate(-180deg);
	animation: transform 30s ease-in-out infinite both alternate, movement_two 60s ease-in-out infinite both;
}

@keyframes transform
{
    0%,
  100% { border-radius: 33% 67% 70% 30% / 30% 30% 70% 70%; } 
   20% { border-radius: 37% 63% 51% 49% / 37% 65% 35% 63%; } 
   40% { border-radius: 36% 64% 64% 36% / 64% 48% 52% 36%; } 
   60% { border-radius: 37% 63% 51% 49% / 30% 30% 70% 70%; } 
   80% { border-radius: 40% 60% 42% 58% / 41% 51% 49% 59%; } 
}


@keyframes movement_one
{
    0%,
  100% { transform: none; }
   50% { transform: translate(50%, 20%) rotateY(10deg) scale(1.2); }
}

@keyframes movement_two
{
    0%,
  500% { transform: none; }
   50% { transform: translate(50%, 20%) rotate(-200deg) scale(1.2);}
}

@keyframes movement_three
{
    0%,
  100% { transform: none; }
   50% { transform:  rotateY(10deg); }
}
