body.dark-mode {
	background: $p-600;
	color: darken($white, 2%);
	
	img {
		filter: brightness(.8) contrast(1.2);
	}

	&::-webkit-scrollbar-track {
	  box-shadow: none;
	}

	&::-webkit-scrollbar {
    width: 15px;
    background: $p-800;
	}

	&::-webkit-scrollbar-thumb {
    background-color: $p-200;

    &:hover {
      background-color: $p-300;
    }
	}

	@import "dark/_header";
	@import "dark/_cta";

}