body.dark-mode {
		background: $p-800;
		color: $g-200;

		.main-navigation {
			background: $p-800;
		}

		.lead-header {
			.right-side {
				.lead-form {
					background: $p-700;
				}
			}
		}

		img {
			 filter: brightness(.8) contrast(1.2);
		}

		&::-webkit-scrollbar-track {
		    box-shadow: none;
		}

		&::-webkit-scrollbar {
		    width: 15px;
		    background: $b-900;
		}

		&::-webkit-scrollbar-thumb {
		    background-color: $b-200;

		    &:hover {
		        background-color: $b-300;
		    }
		}

}