// { Our Fonts }
@font-face {
  font-family: "CodecPro Extra Bold";
  src: url("../fonts/CodecPro-ExtraBold.woff2") format("woff2"),
       url("../fonts/CodecPro-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: "CodecPro News";
  src: url("../fonts/CodecPro-News.woff2") format("woff2"),
       url("../fonts/CodecPro-News.woff") format("woff");
}

$heading: 'CodecPro Extra Bold', serif;
$copy: 'CodecPro News', serif;

// { Variablize Size }
$h1: var(--step-5);
$h2: var(--step-4);
$h3: var(--step-3);
$h4: var(--step-2);
$h5: var(--step-1);
$base: var(--step-0);
$small: var(--step--1);
$xsmall: var(--step--2);

html, body {
	font-size:  var(--step-0);
	position: relative;
  font-family: $copy;
  font-weight: 400;
  line-height: 1.944;

  padding: 0; margin: 0;

  transition: all 500ms ease;
}

h1, h2, h3, h4, h5 {
  font-family: $heading;
  font-weight: 400;
  clear: both;
  line-height: 1em;
}

h1, .h1 {
  font-size: $h1;
}

h2, .h2 {
	font-size: $h2;
}

h3, .h3 {
	font-size: $h3;
}

h4, .h4 {
	font-size: $h4;
}

h5, .h5 {
	font-size: $h5;
}

small, .small {
	font-size: $small;
}

.base {
  font-size: $base;
}

.xsmall {
	font-size: $xsmall;
}

.copy {
  font-family: $copy;
}

.heading {
	font-family: $heading;
}