.main-navigation {
  position: relative;

  padding: 1em 20%;

  background-image: linear-gradient(180deg, $r-100, transparent);


  ul.main-menu {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    li.main-menu-link {
      display: flex;
      align-items: center;

    }
  }
}
