.how-it-works {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: auto;

	aside {

	}

	aside.savings-joy {
		border-radius: 40% 60% 89% 11% / 48% 67% 33% 52%;
    background: rgba($r-300, 0.3);

    position: sticky;
    position: -webkit-sticky;
    top: 1em;

    min-width: 50%;

    padding-left: 1em;

    align-self: flex-start;

    animation: moneyGuy 20s ease-in-out infinite both alternate;

    img {
    	width: 90%;
    	height: auto;
    }
	}

	@media only screen and (min-width: 40em) {
		flex-direction: row;
	}
}

.benefits-list {
	display: flex;
	flex-direction: column;

	ul {

		li {
			margin-bottom: 1.3em;
			padding-left: 1em;

			font-size: 1.2em;
			line-height: 1;
			color: $r-600;
			font-family: $heading;

			&::marker {
				content: "\e35c";
				font: var(--fa-font-solid);
				color: #73AB84;
				font-size: 1em;

			}

			.expanded {
				font-size: $small;
				color: $black;
				font-family: $copy;

			}
		}
	}

	@media only screen and (min-width: 40em) {
		flex-direction: row;

		ul {
			&:nth-of-type(2n) {
				margin-left: 2em;
			}
		}
	}

}

@keyframes moneyGuy {
    0%,
	  100% { border-radius: 37% 63% 51% 49% / 30% 30% 70% 70%; } 
		20%  { border-radius: 37% 63% 51% 49% / 37% 65% 35% 63%; }
		40%  { border-radius: 33% 67% 70% 30% / 30% 30% 70% 70%; } 
		60%  { border-radius: 36% 64% 64% 36% / 64% 48% 52% 36%; } 
		80%  { border-radius: 37% 63% 51% 49% / 37% 65% 35% 63%; } 
}