.our-model {
	width: clamp(65%, 980px, 90%);
	margin: 10em auto;

	span.emphasis {
		color: $r-300;
		font-weight: 600;

		text-decoration: underline;
		text-decoration-color: $p-500;
		text-decoration-style: dashed;
	}

	h2 {
		text-align: center;
		margin-bottom: 0;
		line-height: 1;

	}

	.triblock {
		width: 100%;
		margin: 3em 0;

		display: flex;
		flex-direction: column;
		justify-content: space-evenly;

		@media only screen and (min-width: 40em) {
			flex-direction: row;
		}
	}
}