*::-webkit-scrollbar-track
{
    box-shadow: none;
}

*::-webkit-scrollbar
{
    width: 15px;
    background: $r-200;
}

*::-webkit-scrollbar-thumb
{
    background-color: $r-800;
    border-radius: 1em;

    &:hover {
        background-color: $r-700;
    }
}
