<header class="lead-header">
	<div class="left-side">
		<h1 class="h2">Small Business Website Design</h1>
		<h2 class="h4 copy">Get a high quality website for your business that you never have to worry about, with fair and upfront pricing.</h2>
	</div>
	<div class="right-side">
		<form netlify method="post" action="/thank-you-cta">
			<h3 class="h5">Let's get started!</h3>
			<h4 class="base">What's your...</h4>
			
			<div class="form-group">
				<label for="name">First name?</label>
				<input type="text" name="name" value="John Q. Smith">
			</div>
			
			<div class="form-group">
				<label for="name">Best email?</label>
				<input type="email" name="email" value="j.q.smith88@gmail.com">
			</div>
			
			<div class="form-group">
				<label for="name">Cell?</label>
				<input type="tel" name="phone" value="(910) 555 - 8855">
			</div>

			<button type="submit" name="submit">Call me!</button>

		</form>
	</div>
</header>