<header class="lead-header">
	<div class="left-side">
		<h1 class="h2">Small Business Website Design</h1>
		<h2 class="h4 copy">Get a high-quality, functional, reliable website for your business and never worry about it again. Fair, up-front pricing for your project.</h2>
	</div>
	<div class="right-side">
		<form method="post" netlify action="/thank-you/">
			<h3 class="h5">Let's get started!</h3>
			<h4 class="base">What's your...</h4>
			
			<div class="form-group">
				<label for="name">First name?</label>
				<input type="text" name="name" placeholder="John" required>
			</div>
			
			<div class="form-group">
				<label for="name">Best email?</label>
				<input type="email" name="email" placeholder="j.q.smith88@gmail.com" reqired>
			</div>
			
			<div class="form-group">
				<label for="name">Cell?</label>
				<input type="tel" pattern="^(\+\d{1,2}\s)?\(?\d{3}\)?[\s.-]?\d{3}[\s.-]?\d{4}$" required name="phone" placeholder="(910) 555 - 8855">
			</div>

			<button type="submit" name="submit">I'm ready!</button>

		</form>
	</div>
</header>