<section class="get-started">
	<h2>Let's Get Started!</h2>
	<form method="post" action="/thank-you/" netlify>
		<div class="form-one">
			<input type="text" required placeholder="Your First Name">
			<input type="tel" required placeholder="Your best contact number">
		</div>
		<div class="form-two">
			<input type="email" required placeholder="Your Email Address">
			<input type="text" placeholder="Your Current Website">
		</div>
		<button type="submit" class="form-three">Get Started Today!</button>
	</form>
</section>