{{- $logo := (resources.Get "images/plane-logo.png").Resize "200x webp q70" -}}
<nav class="main-navigation">
	<ul class="main-menu" id="menu-element">
			<li class="main-menu-link">
				<a href="{{ .Site.BaseURL }}">
					<img src="{{ $logo.RelPermalink }}" alt="{{ .Site.Title }}" height="{{ div $logo.Height 4 }}" width="{{ div $logo.Width 4 }}">
				</a>
			</li>
		{{ range .Site.Menus.main }}
			<li class="main-menu-link">
				<a href="{{ .URL }}">{{ .Pre }}{{ .Name }}</a>
			</li>
		{{ end }}
	
		{{ partial "dark-toggle" . }}

	</ul>
	</nav>