{{ $img := (resources.Get "images/money.png").Resize "x350 webp q85" }}
<section class="inner-content how-it-works">
	<aside>
		<h3>
			<span class="emphasis">$0</span> Down, <span class="emphasis">$200</span> a month<br>
			<span class="h4" style="color:inherit">No Contracts. No Hassle. Simple As.</span>
		</h3>
		<p>
			Get the website you want with no contracts, no hassle, and no giant down payment. For <strong>$200</strong> a month your business will have a professional, 5-page website available online that you never have to worry about.
		</p>
	</aside>
	<aside class="savings-joy">
		<img src="{{ $img.RelPermalink }}" alt="A man happy because he's saving money on his website!" height="{{ $img.Height }}" width="{{ $img.Width }}">
	</aside>
</section>

	<h4 class="inner-content" style="margin:3em auto 2em;">
		What you get for <span class="emphasis">$200</span>:
	</h4>

<section class="inner-content benefits-list">
	<ul>
		<li>Mobile-First Customized Website<br>
			<span class="expanded">
				We will migrate all significant content to our hand-made, fully customized, mobile-friendly website, complete with your images and logos. We will make sure your new site matches any styleguide or branding requirements as well!
			</span>
		</li>
		<li>Local Search Optomization<br>
			<span class="expanded">
				We create at least 100 local business citations to create credibility for your new website. We will also submit your site to search engines and fully optimize your Google Business Profile. These steps together will help you rank high in the Map Pack on local searches. <a href="#">Learn more about Local Search Optimization here</a>!
			</span>
		</li>
		<li>24/7 Customer Service<br>
			<span class="expanded">
				We will be there to help you with your website any time, day or night. We're ready to answer your questions and help you get the most out of your website, whenever might be most convenient for you! We will always be available to you by phone or email.
			</span>
		</li>
	</ul>
	<ul>
		<li>Domain & Hosting<br>
			<span class="expanded">
				If you don't already have a domain name (like a .com or .net), we will purchase you one. We will also provide hosting for you on our lightning fast, global Content Distribution Network (CDN). <a href="#">Click here to learn more about our hosting!</a>
			</span>
		</li>
		<li>Unlimited Changes<br>
			<span class="expanded">
				Running a special, and want a fancy banner for it? We got you. Need to change out a picture on the home page? No problem. Need to add a new team member's profile? Easy. If you need anything updated or changed, just call or email and we'll handle it for you so you can handle your business.
			</span>
		</li>
		<li>Fathom Analytics<br>
			<span class="expanded">
				We will install Fathom Analytics on your website so you can track user experience without invading guest privacy. Fathom is a privacy-focused analytics service that gives you comprehensive data without those annoying cookie banners. <a href="https://usefathom.com/ref/JHDRUD" target="_blank">Learn more about Fathom at their website</a>.
			</span>
		</li>
	</ul>
</section>