<section class="our-model">
	<h2>We Have a <span class="emphasis">Special</span> Set of Skills</h2>

	<img >

	<p style="text-align: center;width:min(90%, 650px);margin:0 auto;line-height:1.25">
		At <span class="emphasis">Hyperdrive Website Development</span>, we specialize in building high-quality small business websites that don't rely on WordPress or other bloated software. Every site we build is high-quality, hand-crafted, and engineered to out-perform your competition!
	</p>

		<h3 style="text-align:center;margin-top:5em;">All Our Websites Are</h3>

	<div class="triblock">
		<div class="card">
			<img src="{{ (resources.Get "images/lightning-fast.svg").RelPermalink }}" width="225" height="150">
			<h4>Lightning Fast</h4>
			<p>
				Services like WordPress and Wix are cumbersome, over-involved, and often extremely user-unfriendly. We save you from all that, building every site from the ground up. Every one of our sites scores in the 95th percentile or above on Lighthouse Metrics, a popular means of evaluating how quickly a website loads (and gives your users access to its contents).
			</p>
		</div>

		<div class="card">
			<img src="{{ (resources.Get "images/mobile-first.svg").RelPermalink }}" width="225" height="150">
			<h4>Mobile First</h4>
			<p>
				55% of all internet traffic in 2021 was on a mobile phone. Not an ipad, not a laptop: A smart phone. We build every site starting at the mobile layout and scaling up from there to ensure that every user - no matter their device - has a fast, engaging experience on a beautiful website.
			</p>
		</div>

		<div class="card">
			<img src="{{ (resources.Get "images/lead-capture.svg").RelPermalink }}" width="225" height="150">
			<h4>Lead Magnets</h4>
			<p>
				With a proven system of lead capture, we don't just put an informational splash page up on the internet. We turn your website into your hardest working employee, gathering qualified, local leads for your business 24/7!
			</p>
		</div>

	</div>

</section>