<section class="our-model">
	<h2>we have a <span class="emphasis">special</span> set of skills</h2>

	<img >

	<p style="text-align: center;width:min(90%, 650px);margin:0 auto;line-height:1.25">
		At <span class="emphasis">Hyperdrive Website Development</span> we specialize in building high quality small business websites that don't rely on WordPress or other bloated software. Every site we build is high quality, hand-crafted, and engineered to out-perform your competition!
	</p>

		<h3 style="text-align:center">All of our websites are built</h3>

	<div class="triblock">
		<div class="card">
			<img src="https://picsum.photos/225/150">
			<h4>Mobile First</h4>
			55% of <em>all</em> internet traffic in 2021 was on a mobile phone. Not an ipad, not a laptop: A phone. We build every site starting at the mobile layout and scaling up from there.
		</div>

		<div class="card">
			<img src="https://picsum.photos/225/150">
			<h4>Mobile First</h4>
			55% of <em>all</em> internet traffic in 2021 was on a mobile phone. Not an ipad, not a laptop: A phone. We build every site starting at the mobile layout and scaling up from there.
		</div>

		<div class="card">
			<img src="https://picsum.photos/225/150">
			<h4>Mobile First</h4>
			55% of <em>all</em> internet traffic in 2021 was on a mobile phone. Not an ipad, not a laptop: A phone. We build every site starting at the mobile layout and scaling up from there.
		</div>

	</div>

</section>