<section class="portfolio" id="portfolio">
	<h2 class="h1">Our <span class="emphasis">Work</span></h2>

	<div class="card-section">
		{{ $portfolio := site.Data.portfolio }}
		{{ range $portfolio.websites }}
			{{ $feature := (resources.Get (printf "/images/portfolio/%s" .feature)).Resize "800x q75 webp" }}
			<div class="card">
				<img src="{{ $feature.RelPermalink }}" width="{{ (div $feature.Width 2) }}" height="{{ (div $feature.Height 2) }}" alt="{{ .name }}" loading="lazy">
				<h3{{ with .category }} data-meta="{{ . }}"{{ end }}>{{ .client }}</h3>
				<p class="description">
					{{ .description }}
				</p>
				<div class="learn-more">
					 <a href="{{ .uri }}" class="visit" target="_blank">Visit</a>
				</div>
			</div>
		{{ end }}
	</div>
</section>