{{ if or .NextInSection .PrevInSection }}
<div class="post__navigation">

  {{ if .PrevInSection }}
  <a class="post__prev" href="{{ .PrevInSection.Permalink }}">
    <div class="prev__image">
      {{ $prevImg := (resources.Get .PrevInSection.Params.Image).Resize "500x webp q75" }}
      <img loading="lazy" src="{{ $prevImg.RelPermalink }}" alt="{{ .PrevInSection.Title }}">
    </div>
    <div class="prev__box">
      <span class="post__nav post__nav__prev">Prev post</span>
      <h2 class="post__nav__title">{{ .PrevInSection.Title }}</h2>
    </div>
  </a>
  {{ end }}

  {{ if .NextInSection }}
  <a class="post__next" href="{{ .NextInSection.Permalink }}">
    <div class="next__box">
      <span class="post__nav post__nav__next">Next post</span>
      <h2 class="post__nav__title">{{ .NextInSection.Title }}</h2>
    </div>
    <div class="next__image">
       {{ $img := (resources.Get .NextInSection.Params.Image).Resize "500x webp q75" }}
      <img loading="lazy" src="{{ $img.RelPermalink }}" alt="{{ .NextInSection.Title }}">
    </div>
  </a>
  {{ end }}

</div>
{{ end }}