<section class="pricing-box inner-content">
	<div class="left">
		<h2>Ready To Go?</h2>
		<p>
			Whether you're ready to get started today for <span class="heading">$0 Down</span> and only <span class="heading">$200</span> a month, or you just want to ask us some questions, go ahead and fill out this form.
		</p>
		<p>
			We'd be happy to hop on the phone with you for a <span class="heading">No Cost, No Obligation</span> chat, where we can see whether or not we would be a good fit for eachother.
		</p>
	</div>
	<div class="right">
		<form method="post" action="/thank-you/" netlify>
			<input type="text" required placeholder="Your First Name">
			<input type="tel" required placeholder="Your best contact number">
			<input type="email" required placeholder="Your Email Address">
			<input type="text" placeholder="Your Current Website">
			<button type="submit" class="form-three">Get Started Today!</button>
		</form>
	</div>
</section>